{% extends "base.html.twig" %}

{% block body %}
    <h1>PiMonitor</h1>
    <div id="root"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/index.js') }}"></script>
{% endblock %}